extend layouts/base.layout.pug

include partials/top-bar.pug
include partials/page-title.pug
include partials/icon.pug
include partials/product-card-simple.pug
include partials/post.pug
include partials/poll.pug
include partials/login-modal.pug

block content
  div(class="absolute top-0 left-0 w-full h-1/4 gradient-bg")
  div(class="relative")
    +top-bar("browse")
    div(class="container p-4 mx-auto")
      div(class="flex flex-col-reverse md:flex-row items-start")
        main(class="mr-0 w-full md:w-4/6 md:mr-4")
          +page-title(class="mb-4") Latest posts
          each post in posts
            if post.type === 'text'
              +post({
                author_id: post.user_id,
                product_slug: post.product_slug,
                product_name: post.product_name,
                post_id: post.id,
                post_text_md: post.text_md,
                post_twitter_text: post.twitter_text,
                img: post.user_twitter_profile_image_url,
                img_url: post.image_url,
                user_type: post.user_type,
                user_slug: post.user_slug,
                twitter_name: post.user_twitter_name,
                twitter_screen_name: post.user_twitter_screen_name,
                date_str: post.created_at_formatted,
                show_opts: false,
                show_view_btn: true,
                boosts_count: post.boosts_count,
                disable_boost_btn: !user,
                trigger_login_modal: !user,
                comments: post.comments,
                show_posted_in_tag: true,
              }) !{post.text}
            
            if post.type === 'poll'
              +poll({
                user_has_voted: post.user_has_voted,
                question: post.question,
                options: post.poll_options,
                votes: post.poll_votes,
                author_id: post.user_id,
                product_slug: post.product_slug,
                product_name: post.product_name,
                post_id: post.id,
                post_twitter_text: post.twitter_text,
                user_type: post.user_type,
                user_slug: post.user_slug,
                img: post.user_twitter_profile_image_url,
                img_url: post.image_url,
                twitter_name: post.user_twitter_name,
                twitter_screen_name: post.user_twitter_screen_name,
                date_str: post.created_at_formatted,
                disable_boost_btn: false,
                show_opts: false,
                show_posted_in_tag: true,
                boosts_count: post.boosts_count,
                comments: post.comments
              }) !{post.details}

          p(class="text-gray-500 text-center text-sm") Post listing is limited to 12 items only.

        aside(class="md:w-2/6 mb-16 md:mb-0 w-full")
          div(class="mb-4")
            +page-title(class="mb-4") Top products
            each product, idx in mostBoostedProducts
              div(class="pb-2")
                +product-card-simple({
                  place: idx < 3 ? idx : null,
                  slug: product.slug,
                  name: product.name,
                  boosts_count: product.boosts_count,
                  description: product.description
                })
            div(class="mt-3")
              a(href="/products?ord=boosts" class="flex justify-center items-center btn btn-default transition click-scale")
                span(class="mr-2") View most boosted
                +icon("arrow-right", { width: 16, height: 16 })

          div
            +page-title(class="mb-4") Latest products
            each product, idx in newestProducts
              div(class="pb-2")
                +product-card-simple({
                  slug: product.slug,
                  name: product.name,
                  boosts_count: product.boosts_count,
                  description: product.description
                })
            div(class="mt-3")
              a(href="/products?ord=newest" class="flex justify-center items-center btn btn-default transition click-scale")
                span(class="mr-2") View latest
                +icon("arrow-right", { width: 16, height: 16 })

block modals
  if !user
    +login-modal