extend layouts/base.layout.pug

include partials/top-bar.pug
include partials/page-title.pug
include partials/icon.pug
include partials/product-card.pug

block content
  div(class="absolute top-0 left-0 w-full h-1/4 gradient-bg")
  div(class="relative")
    +top-bar("browse")
    div(class="container p-4 mx-auto")
      div(class="flex items-center")
        +page-title(class="mr-4") Browse
        div(class="flex items-center")
          a(href="/browse?ord=boosts" class={"btn btn-plain btn-small mr-2": true, "btn-active-ring": ord === 'boosts'}) Boosts count
          a(href="/browse?ord=newest" class={"btn btn-plain btn-small": true, "btn-active-ring": ord === 'newest'}) Newest

      div(class="mt-8")

        div(class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4")
          each product in products
            +product-card({
              slug: product.slug,
              name: product.name,
              boosts_count: product.boosts_count,
              description: product.description
            })
