extends layouts/base.layout.pug

include partials/top-bar.pug
include partials/modal.pug
include partials/page-title.pug
include partials/flash-msg.pug

block content
  +top-bar
  
  div(class="container mx-auto p-4")
    section
      +page-title(class="mb-4") Collected products
      +flash-msg(flash)

      div(class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3")
        each product in collections
          a(href=`/p/${product.slug}`)
            div(class="relative bg-white shadow-sm hover:shadow-md border border-gray-100 transition-all h-full rounded-xl p-4 overflow-hidden" style="min-height: 100px;")
              +icon("bookmark", { width: 18, height: 18, stroke: 'primary', fill: 'primary' })(class="absolute -top-1 right-4")
              h1(class="text-xl font-bold pb-4")= product.name
              if product.description
                p= product.description