extends layouts/base.layout.pug

include partials/top-bar.pug

block append head
  meta(name="turbo-visit-control" content="reload")

block content
  +top-bar

  div(class="container mx-auto p-4")
    form(method="POST" action="/foo")
      input(type="hidden" value="1" name="post_id")
      textarea(name="content")
      button(type="submit") Send