extend layouts/with-top-nav.layout.pug

include partials/icon.pug
include partials/top-bar.pug
include partials/facade-post.pug
include partials/login-modal.pug
include components/icon-in-circle.pug

mixin join-the-party-button
  a(href="/pricing" class="btn btn-primary text-lg mb-1 click-scale transition")
    block 
  span(class="text-sm text-gray-600") Takes 30 seconds to start. And it's #[span(class="text-xs font-bold bg-yellow-100 px-2 py-1 rounded-md") FREE]!

mixin check({ noPadding = false } = { noPadding: false })
  li(class={ "flex items-center justify-center lg:justify-start": true, "pb-2": !noPadding })
    div(class="mr-2 hidden md:block")
      +icon-in-circle({ name: 'check' })
    block

mixin people
  div(class="mt-8 flex items-center")
    img(src="https://hpt-assets.s3.eu-central-1.amazonaws.com/haptic-user-avatars/dom.jpg" alt="Dominik" class="rounded-full select-none  w-10 h-10  border-2 border-white ")
    img(src="https://hpt-assets.s3.eu-central-1.amazonaws.com/haptic-user-avatars/dustin.jpg" alt="Dustin" class="rounded-full select-none  w-10 h-10  border-2 border-white  -ml-3")
    img(src="https://hpt-assets.s3.eu-central-1.amazonaws.com/haptic-user-avatars/felix.jpg" alt="Felix" class="rounded-full select-none  w-10 h-10  border-2 border-white  -ml-3")
    img(src="https://hpt-assets.s3.eu-central-1.amazonaws.com/haptic-user-avatars/gabriel.jpg" alt="Gabriel" class="rounded-full select-none  w-10 h-10  border-2 border-white  -ml-3")
    img(src="https://hpt-assets.s3.eu-central-1.amazonaws.com/haptic-user-avatars/gage.jpg" alt="Gage" class="rounded-full select-none  w-10 h-10  border-2 border-white  -ml-3")
    img(src="https://hpt-assets.s3.eu-central-1.amazonaws.com/haptic-user-avatars/marek.jpg" alt="Marek" class="rounded-full select-none  w-10 h-10  border-2 border-white  -ml-3")
    img(src="https://hpt-assets.s3.eu-central-1.amazonaws.com/haptic-user-avatars/matthias.jpg" alt="Matthias" class="rounded-full select-none  w-10 h-10  border-2 border-white  -ml-3")
    img(src="https://hpt-assets.s3.eu-central-1.amazonaws.com/haptic-user-avatars/rinas.png" alt="Rinas" class="rounded-full select-none  w-10 h-10  border-2 border-white  -ml-3")
    img(src="https://hpt-assets.s3.eu-central-1.amazonaws.com/haptic-user-avatars/rutvik.jpg" alt="Rutvik" class="rounded-full select-none  w-10 h-10  border-2 border-white  -ml-3")
    img(src="https://hpt-assets.s3.eu-central-1.amazonaws.com/haptic-user-avatars/shayne.jpg" alt="Shayne" class="hidden md:block rounded-full select-none  w-10 h-10  border-2 border-white  -ml-3")
    img(src="https://hpt-assets.s3.eu-central-1.amazonaws.com/haptic-user-avatars/stephen.jpg" alt="Stephen" class="hidden md:block rounded-full select-none  w-10 h-10  border-2 border-white  -ml-3")
  p(class="text-xs text-gray-600 mt-2") 150+ people are already sharing their product stories on Haptic

mixin browse-posts-list-loading()
  +facade-post
  +facade-post
  +facade-post
  +facade-post
  +facade-post
  +facade-post

block append head
  script.
    document.addEventListener("turbo:load", function() {
      var $close = $('[data-close-btn]');

      $close.on('click', function() {
        $(document)
          .trigger(
            'haptic:add-toast',
            { content: "Building in public is always open. 🙌", type: 'error'}
          )
      })
    });

block main
  div(class="container-2 mx-auto p-4 mb-8")
    div(class="flex flex-col lg:flex-row items-start")

      //- Left
      main(class="md:pr-4 flex flex-col items-center text-center lg:text-left lg:items-start flex-1 w-full mb-8 lg:mb-0")
        h1(class="text-4xl font-black mb-4" style="max-width: 18ch;") It's how makers #[br] build products in public

        h2(class="text-xl font-medium text-gray-700 mb-8" style="max-width: 42ch;").
          Get exposure for your product on a community of makers and creators. We provide the stage. You got the mic.

        ul(class="mb-8 md:text-left")
          +check Go beyond simple tasks logging in public
          +check Tell a coherent story using various content types
          +check Get a beautiful product page for FREE
          +check Join a acommunity of fellow indie makers
          +check Gather feedback from early adopters
          +check({ noPadding: true }) We will push you ship faster. Never build alone again.

        +join-the-party-button Join the party!

        +people

      //- Right
      aside( class="relative ring-2 ring-gray-300 rounded-md flex-1 w-full")

        //- Browser top bar
        div(class="px-4 flex bg-transparent items-center bg-gray-50 absolute z-10 top-0 left-0 h-12 border-b w-full rounded-tl-md rounded-tr-md")

          //- Browser buttons
          div(class="relative flex items-center mr-4")
            div(class="flex items-center justify-center cursor-pointer w-4 h-4 rounded-full bg-red-400 mr-2" data-close-btn)
              +icon("x", { width: 10, hegiht: 10 })
            div(class="w-4 h-4 rounded-full bg-yellow-400 mr-2")
            div(class="w-4 h-4 rounded-full bg-green-500 mr-2")

        //- Browser contents
        div(style="height: 60vh; min-width: 300px;" class="relative p-4 overflow-y-auto mt-12 rounded-md")
          div(style="max-width: 500px;" class="mx-auto" data-browse-page)
            turbo-frame(id="browse-posts-list" src=`/frame/browse/posts?perPage=5&hidePagination=true` target="_top")
              +browse-posts-list-loading
            div(class="flex items-center flex-col justify-center my-8")
              +join-the-party-button Add your post and see it live here!

    footer(class="text-xs text-gray-500 mt-8")
      p(class="mb-1") Built by #[a(href="https://twitter.com/Brslv" class="bg-blue-100 p-1 rounded-md shadow-sm underline hover:no-underline") @Brslv]
      a(href="/how-to-build-in-public" class="underline hover:no-underline block") How to build in public
      a(href="/20-plus-build-in-public-post-ideas-with-examples" class="underline hover:no-underline block") 20+ build in public post ideas (with examples)

block modals
  if !user
    +login-modal
