extend layouts/base.layout.pug

include landing/partials/top-bar.pug

block content
  div(class="bg-yellow-50")
    div(class="mb-32")
      +top-bar
    div(class="container p-4 mx-auto")
      div(class="text-center relative mx-auto")
        h1(class="text-3xl pb-10 font-bold")
          span(class="relative")
            span Humanize 
            img(src="/static/images/underline.svg" class="absolute top-10 left-4 select-none")
          span your product

        h2(class="text-2xl text-gray-600 mx-auto pb-10" style="width: 28ch") You have a story. Your product, too. Share it with the world.

        div(class="flex items-center justify-center flex-col mb-10")
          button(class="btn btn-primary text-center mb-1 text-lg") Start building in public
          span(class="text-xs text-gray-600") FREE, no credit cards required!

        div(class="flex flex-col items-center")
          img(src="/static/images/smiling-face.svg" class="-mb-6")
          img(src="/static/images/product-image.png" class="z-10 -mb-64")
