<%- include('_html-start'); -%>
<div class="relative" id="top">
    <div class="z-10 relative p-4 w-full h-full md:p-10 container mx-auto">
        <div>
            <a href="/">
                <div class="flex items-center">
                    <img src="/static/assets/images/logo.svg" alt="Haptic.so logo" class="w-8 h-8 mr-6" />
                    <h1 class="text-xl font-black text-yellow-300">
                            haptic.so
                    </h1>
                </div>
            </a>
            <header class="relative h-screen">
                <img class="hidden xl:block absolute top-20 right-0" src="/static/assets/images/landing/img-1-mod.svg"
                     alt="Balloons"/>
                <div class="absolute top-40 left-0">
                    <h2 class="text-4xl md:text-6xl font-black max-w-xl mb-8">
                        The <span class="text-yellow-400">#BuildInPublic</span> toolkit for your next big thing.
                    </h2>
                    <h3 class="text-2xl text-gray-600 max-w-3xl mb-8">
                        Tap into the wisdom of the crowd with Haptic. Build, test and learn in public. Get feedback from
                        your audience and
                        grow beyond their expectations.
                    </h3>
                    <div>
                        <form id="wait-list-form">
                            <div class="flex items-start md:items-center flex-col md:flex-row">
                                <input id="email-input" type="email" name="email" placeholder="Email"
                                       class="h-16 w-full md:w-1/2 px-8 py-4 md:mr-4 mb-4 md:mb-0 rounded-full bg-gray-200">
                                <button class="bg-yellow-300 hover:bg-yellow-400 rounded-full text-2xl h-16 w-full md:w-auto px-8">
                                    Notify me when it's live
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </header>
        </div>

        <section class="max-w-4xl mx-auto">
            <article
                    class="mb-4 lg:mb-12 flex flex-col md:flex-row items-start bg-white shadow-xl p-12 border border-gray-100 rounded-2xl">
                <div class="flex-1 max-w-md">
                    <h1 class="text-4xl font-bold mb-6 md:mb-0 md:mr-8">Zero friction</h1>
                </div>
                <p class="text-xl" style="flex: 2">
                    Haptic.so eliminates the hassle and time investment of building your own build-in-public medium,
                    allowing you to
                    focus
                    on what’s most important - the process of making.
                </p>
            </article>

            <article
                    class="mb-4 lg:mb-12 flex flex-col md:flex-row items-start bg-white shadow-xl p-12 border border-gray-100 rounded-2xl">
                <div class="flex-1 max-w-md">
                    <h1 class="text-4xl font-bold mb-6 md:mb-0 md:mr-8"><span class="text-xs block">(Haptic)</span>
                        Feedback</h1>
                </div>
                <p class="text-xl" style="flex: 2">
                    Expose your product. Share your journey by finding early adopters and gathering valuable
                    feedback to make your final creation amazing.
                </p>
            </article>

            <article
                    class="mb-4 lg:mb-12 flex flex-col md:flex-row items-start bg-white shadow-xl p-12 border border-gray-100 rounded-2xl">
                <div class="flex-1 max-w-md">
                    <h1 class="text-4xl font-bold mb-6 md:mb-0 md:mr-8">Build your story</h1>
                </div>
                <p class="text-xl" style="flex: 2">
                    Good stories always catch people’s attention. Haptic enables you to build your own product story,
                    share it with your audience and let the makers community support you in growing your startup.
                </p>
            </article>

            <article
                    class="mb-4 lg:mb-12 flex flex-col md:flex-row items-start bg-white shadow-xl p-12 border border-gray-100 rounded-2xl">
                <div class="flex-1 max-w-md">
                    <h1 class="text-4xl font-bold mb-6 md:mb-0 md:mr-8">SSOT</h1>
                </div>
                <p class="text-xl" style="flex: 2">
                    Haptic is your <a href="https://https://en.wikipedia.org/wiki/Single_source_of_truth" target="_blank" title="SSOT in Wikipedia" class="link">Single Source Of Truth</a> when it comes to your product evolution. It's all neatly organized, under the haptic.so/( your-product-name ) url.
                </p>
            </article>

            <article
                    class="mb-4 lg:mb-12 flex flex-col md:flex-row items-start bg-white shadow-xl p-12 border border-gray-100 rounded-2xl">
                <div class="flex-1 max-w-md">
                    <h1 class="text-4xl font-bold mb-6 md:mb-0 md:mr-8">By creator for creators</h1>
                </div>
                <p class="text-xl" style="flex: 2">
                    Haptic is a result of me, struggling to streamline my build in public process. I wanted to fix
                    it. So, here I go.
                </p>
            </article>
        </section>

        <section class="flex items-center justify-center mt-40">
            <a id="join-btn" href="#top" class="text-center bg-yellow-300 hover:bg-yellow-400 rounded-full px-12 py-8 text-2xl">
                Join Haptic and start building in public
            </a>
        </section>

        <section>
            <div class="relative text-xl md:text-3xl text-center font-black my-40">
                <div id="me" class="invisible absolute bottom-28 left-1/2 font-normal text-left bg-white shadow-2xl p-10 rounded-xl text-xl absolute" style="width: 320px; transform: translateX(-50%);">
                    <div>
                        <p class="mb-4">
                            Hey! 👋
                        </p>
                        <p class="mb-4">
                            I'm Borislav, the maker behind Haptic.
                        </p>

                        <p>Join me in my journey building Haptic on <a href="https://twitter.com/Brslv" target="_blank" class="link">Twitter</a>. Let's chat there. ✌️
                        </p>
                    </div>
                    <img src="/static/assets/images/landing/me-bw-optimized.jpg" alt="Borislav Grigorov"
                         class="w-32 h-32 -mb-20 mt-6 mx-auto rounded-full shadow-2xl"/>
                </div>

                <span>Crafted by</span>
                <span id="me-target" class="text-yellow-400 underline cursor-pointer">me</span>
                <span>.</span>
            </div>
        </section>
    </div>

    <div class="w-full h-full absolute top-0 left-0"
         style="opacity: 0.55; background-image: url('/static/assets/images/landing/bg-shapes-3.svg'); background-size: cover; background-position: top; background-repeat: no-repeat;">
    </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function domLoaded() {
    var meTarget = document.getElementById('me-target')
    var me = document.getElementById('me')
    var joinBtn = document.getElementById('join-btn')
    var emailInput = document.getElementById('email-input')

    meTarget.addEventListener('click', function mouseEnter(e) {
        e.stopPropagation()
        me.classList.remove('invisible')
    });

    document.body.addEventListener('click', function bodyClick(e) {
        // close the "me" popup
        if (!me.contains(e.target) && !me.classList.contains('invisible')) {
            me.classList.add('invisible')
        }
    })

    joinBtn.addEventListener('click', function joinBtnClick() {
        emailInput.classList.add('shake')
        setTimeout(function () { emailInput.focus() }, 0)
        setTimeout(function () { emailInput.classList.remove('shake') }, 3000)
    })
  })
</script>
<%- include('_html-end'); -%>
