extends layouts/base.layout.pug

block content
  div(class="h-screen w-screen flex items-center justify-center")
    div
      a(href="/" class="inline-block bg-gray-100 dark:bg-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600 rounded-xl px-2 py-1.5 font-medium mb-2") Home
      div(class="p-4 bg-white dark:bg-gray-700 border border-gray-100 dark:border-gray-600 rounded-xl")
        h1(class="text-xl font-bold mb-4") Login
        a(href="/auth/twitter" class="block px-4 py-2 font-medium rounded-xl text-white bg-twitter hover:bg-twitter-dark") Login with Twitter
