extends layouts/base.layout.pug

block content
  div(class="h-screen w-screen flex items-center justify-center")
    div
      a(href="/" class="inline-block bg-gray-100 dark:bg-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600 rounded-xl px-2 py-1.5 font-medium mb-2") Home
      div(class="p-4 bg-gray-100 dark:bg-gray-700 rounded-xl")
        h1(class="text-xl font-bold mb-4") Login
        if isDev
          a(href=(creator ? "/auth/twitter?creator=true" : "/auth/twitter") class="block btn btn-twitter") Login with Twitter
        else
          p Soon
