extends layouts/base.layout.pug

include partials/top-bar.pug
include partials/post.pug


block content
  - var post_text = post.text;
  +top-bar
  div(class="container mx-auto p-4")
    +post({
      product_slug: product.slug,
      product_name: product.name,
      post_id: post.id,
      img: post.user_twitter_profile_image_url,
      img_url: post.image_url,
      twitter_name: post.user_twitter_name,
      twitter_screen_name: post.user_twitter_screen_name,
      date_str: post.created_at_formatted,
      show_opts: false,
      show_view_btn: false,
    }) !{post_text}

block append scripts
  script.
    window.App = {}
    window.App.MediumZoom = mediumZoom('[data-zoomable]', {
      margin: 50,
      background: `rgba(0,0,0,0.5)`,
    })
  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  script(src="/static/js/posts.js")
