extends layouts/base.layout.pug

include partials/icon.pug
include partials/top-bar.pug
include partials/post.pug
include partials/require-module.pug
include partials/login-modal.pug

block append scripts
  +require-module('post')

block content
  - var post_text = post.text;
  +top-bar
  div(class="container mx-auto p-4")
    div(class="md:w-2/3 mx-auto")
      div(class="mb-4 inline-block")
        a(href=`/p/${product.slug}` class="btn btn-small btn-plain flex items-center")
          +icon("arrow-left", { width: 16, height: 16 })(class="mr-2")
          span= `Go to ${product.name}`
      +post({
        product_slug: product.slug,
        product_name: product.name,
        post_id: post.id,
        post_twitter_text: post.twitter_text,
        img: post.user_twitter_profile_image_url,
        img_url: post.image_url,
        user_type: post.user_type,
        user_slug: post.user_slug,
        twitter_name: post.user_twitter_name,
        twitter_screen_name: post.user_twitter_screen_name,
        date_str: post.created_at_formatted,
        show_opts: false,
        show_view_btn: false,
        boosts_count: post.boosts_count,
        disable_boost_btn: !user,
        trigger_login_modal: !user,
      }) !{post_text}

block modals
  if !user
    +login-modal