extend layouts/base.layout.pug

include partials/top-bar.pug
include partials/page-title.pug
include partials/icon.pug
include partials/product-card.pug
include partials/post.pug
include partials/login-modal.pug

mixin controls
  div(class="flex items-center mb-4")
    div(class="w-full flex items-start sm:items-center flex-col sm:flex-row")
      div(class="flex items-center flex-1")
        +page-title(class="mb-4 sm:mr-4 sm:mb-0") Products
        a(href=`/browse` class="block no-wrap btn btn-small btn-plain flex items-center")
          +icon("arrow-left", { width: 16, height: 16 })(class="mr-2")
          span= `Go to browse`
      div(class="flex items-center justify-between")
        div
        div(class="flex items-center")
          +page-title(class="hidden sm:block mr-4") Filter
          button(data-browse-ord-boosts class={"btn btn-plain btn-small mr-2": true, "btn-active-ring": ord === 'boosts'}) Boosts
          button(data-browse-ord-newest class={"btn btn-plain btn-small": true, "btn-active-ring": ord === 'newest'}) Newest

block content
  div(class="absolute top-0 left-0 w-full h-1/4 gradient-bg")
  div(class="relative")
    +top-bar("browse")
    div(class="container p-4 mx-auto")
      if products && products.length
        +controls
        div(class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4")
          each product, idx in products
            +product-card({
              place: type === 'products' && ord === 'boosts' && idx < 3 ? idx : null,
              slug: product.slug,
              name: product.name,
              logo_url: product.logo_url,
              cover_url: product.cover_image_url,
              boosts_count: product.boosts_count,
              description: product.description
            })

block modals
  if !user
    +login-modal