extend layouts/with-nav.layout.pug

block append head
  meta(name="turbo-visit-control" content="reload")

block append head_scripts
  script(src="/static/js/editor/bundle.js")

block append scripts
  script.
    window.state = !{JSON.stringify(myProducts)};

block main
  div(id="react-editor" class="relative")