include ./modal.pug

mixin feedbackBtn
  div(class="fixed bottom-4 right-4 text-xs text-gray-500")
    button(class="btn btn-default" data-modal-trigger="feedback") Feedback
  +modal("feedback")
    p Feedback modal
