include ../components/side-nav-item.pug

mixin mobile-nav
  div(class="block md:hidden")
    div(class="z-20 fixed bottom-4 left-1/2" style="transform: translateX(-50%);")
      // - nav button
      button(class="bg-yellow-300 w-14 h-14 shadow-sm px-4 py-3 shadow-2xl rounded-full flex items-center justify-center btn cursor-pointer" data-mobile-nav-open)
        +icon("menu", { with: 24, height: 24 })
    nav(class="z-20 w-full fixed bottom-0 left-0 p-4 hidden" data-mobile-nav)
      div(class="w-screen h-screen bg-gray-100 fixed top-0 left-0 bg-clip-padding bg-opacity-30" style="backdrop-filter: blur(20px);")
      div(class="flex flex-col items-center justify-center")
        if !user
          div(class="mb-4")
            +side-nav-item({ href: `/login`, icon: 'log-in', button: true }) Login
          +side-nav-item({ href: `/`, icon: 'home', active: activePage === "home" }) Home
          +side-nav-item({ href: `/browse`, icon: 'grid', active: activePage === "browse" }) Browse
          +side-nav-item({ href: `/pricing`, icon: 'dollar-sign', active: activePage === "pricing" }) Pricing
        if user
          +side-nav-item({ href: `/publish`, icon: 'plus', button: true, active: activePage === "publish" }) Publish update
          +side-nav-item({ href: `/`, icon: 'home', active: activePage === "home" }) Home
          +side-nav-item({ href: `/dashboard`, icon: 'box', active: activePage === "dashboard" }) Dashboard
          +side-nav-item({ href: `/notifications`, icon: 'mail', active: activePage === "notifications", counter: notifications.length }) Notifications
          +side-nav-item({ href: `/dashboard/profile`, icon: 'user', active: activePage === "profile" }) Profile
          +side-nav-item({ href: `/logout`, icon: 'log-out' }) Log out
        // - close button
        button(class="z-20 mt-8 btn px-0" data-mobile-nav-close)
          +icon("x", { width: 32, height: 32 })