mixin product-header(product, links, activePage)
  div(class="container mx-auto p-4")
    div(class="flex items-center")
      h1(class="pr-4 text-2xl font-bold mr-4")= product.name
      a(href=`${links.posts}` class={"btn btn-small icon-container": true, "text-yellow-300 hover:text-yellow-300": activePage === 'posts'})
        ion-icon(name="chatbox-ellipses-outline" class="text-2xl cursor-pointer")
      a(href=`${links.settings}` class={"btn btn-small icon-container": true, "text-yellow-300 hover:text-yellow-300": activePage === 'settings'})
        ion-icon(name="settings-outline" class="text-2xl cursor-pointer")
      a(href=`${links.url}` class="btn btn-small icon-container" rel="noopener noreferrer" target="_blank")
        ion-icon(name="open-outline" class="text-2xl cursor-pointer")