mixin product-header(product, links, activePage)
  div(class="container mx-auto px-4")
    div(class="flex items-center bg-white p-4 rounded-xl shadow-sm border border-gray-100")
      h1(class="pr-4 text-2xl font-bold mr-4")= product.name
      a(href=`${links.posts}` class={"btn btn-icon icon-container mr-4": true, "bg-yellow-50 w-10 h-10 rounded-full flex items-center justify-center": activePage === 'posts'} data-tippy-content="Notifications")
        +icon('message-square', { active: activePage === 'posts' })
      a(href=`${links.settings}` class={"btn btn-icon icon-container mr-4": true, "bg-yellow-50 w-10 h-10 rounded-full flex items-center justify-center": activePage === 'settings'} data-tippy-content="Product settings")
        +icon('settings', { active: activePage === 'settings' })
      a(href=`${links.url}` class="btn btn-icon icon-container mr-4" data-tippy-content="View product page")
        +icon('eye')
