mixin product-header(product, links, activePage)
  div(class="container mx-auto px-4")
    div(class="flex items-center bg-white p-4 rounded-xl shadow-sm border border-gray-100")
      h1(class="pr-4 text-2xl font-bold mr-4")= product.name
      a(href=`${links.posts}` class={"btn btn-icon icon-container mr-4": true, "btn-icon-active": activePage === 'posts'} data-tippy-content="Notifications")
        +icon('message-square', { active: activePage === 'posts' })
      a(href=`${links.settings}` class={"btn btn-icon icon-container mr-4": true, "btn-icon-active": activePage === 'settings'} data-tippy-content="Product settings")
        +icon('settings', { active: activePage === 'settings' })
      a(href=`${links.url}` class="btn btn-icon icon-container mr-4" rel="noopener noreferrer" target="_blank" data-tippy-content="Open product page")
        +icon('external-link')
      div(class={"flex items-center btn btn-icon btn-icon-soon icon-container": true, "btn-icon-active": activePage === 'tools'} data-tippy-content="Tools (soon)")
        +icon('tool', { stroke: 'disabled', active: activePage === 'tools' })
        span(class="text-xs px-2 py-1 ml-2 bg-yellow-100 dark:bg-gray-700 rounded-full") Soon!
