include ./csrf.pug

mixin short-update-form({ mode, isHidden, showCancelPill, showCancelButton, text })
  // - mode: edit | create

  div(data-post-type=`short-update-${mode}` class={ "hidden": isHidden })
    form(class="relative")
      +csrf
      input(type="file" id="image-upload" data-upload-file class="hidden")
      input(type="hidden" name="uploaded_image" value="" data-uploaded)
      input(type="hidden" name="id" value=product.id)
      div(class="border border-gray-300 p-1.5 rounded-md relative mb-2" style="display: none;" data-upload-image-preview)
      label
        div(class="relative")
          div(class="bg-yellow-100 px-2 py-1 rounded-full absolute top-1 right-1 flex items-center justify-center font-medium cursor-help" style="font-size: 8px;" data-tippy-content="Markdown supported") MD
          div(class="px-2 py-1 rounded-full absolute bottom-2 right-1 flex items-center justify-center font-medium" style="font-size: 8px;" data-short-update-create-symbols-counter=(mode === 'create') data-short-update-edit-symbols-counter=(mode === 'edit')) 0/1000
          textarea(data-autoresize="3" rows="3" class="textarea w-full" placeholder="Share something great about your product..." data-text)
          p(class="hidden text-red-500 text-xs mb-2" data-error)
      div(class="flex flex-row-reverse items-center justify-between mt-2")
        div(class="flex flex-row-reverse items-center")
          button(type="submit" class="btn btn-primary click-scale") Publish
          button(type="button" class="mr-2 btn btn-text bg-gray-100 hover:bg-gray-200 click-scale" data-upload-image-btn) Attach image
          span(data-image-upload-loader class="hidden mr-2")
            span(class="animate-spin icon-container opacity-75 my-0 block relative")
              +icon("refresh-cw")
        if showCancelButton
          button(data-modal-close type="button" class="btn btn-default click-scale") Cancel
        if showCancelPill
          button(data-post-type-cancel type="button" class="btn btn-text border border-gray-200 hover:border-gray-100 bg-transparent hover:bg-gray-200 click-scale") Close