include ./icon.pug
mixin toast()
  div(class="pb-2 max-w-md" data-toast-id)
    div(class="bg-gray-800 px-2.5 py-1.5 rounded-full shadow-xl")
      div(class="flex items-center text-white justify-between")
        div(class="mr-2")
          div(class="bg-green-400 p-2 rounded-full flex items-center hidden" data-success-icon)
            +icon("check", { stroke: "white", width: 16, height: 16 })
          div(class="bg-red-400 p-2 rounded-full flex items-center hidden" data-error-icon)
            +icon("slash", { stroke: "white", width: 16, height: 16 })
        div(class="mr-4")
          p(data-toast-content)
        div
          +icon("x", { width: 18, height: 18, stroke: 'white' })(data-toast-close-btn class="cursor-pointer")
