include ./icon.pug
include ./mobile-nav.pug

mixin top-bar(activePage)
  +mobile-nav
  div(class="relative bg-white w-full mb-4")
    div(class="px-4")
      div(class="flex h-14 items-center justify-center md:justify-between")
        a(href="/" class="click-scale hover:scale-105 transition")
            div(class="flex items-center")
                img(src="/static/images/logo/logo-main.svg" alt="Dark Haptic logo" class="h-8 logo-dark")
                img(src="/static/images/logo/logo-main-light.svg" class="Light Haptic logo" class="h-8 logo-light")

        nav
          //- desktop
          div(class="hidden md:flex items-center h-14 relative")
            a(
              href="/browse"
              class={"px-4 py-2 hover:bg-gray-50 rounded-md flex items-center px-4 click-scale": true,
                    "border-b-4 border-yellow-300 primary-glow": activePage === "browse"}
            )
              span(class="flex items-center")
                +icon("grid", { width:16, height: 16 })(class="mr-2")
                span(class="font-medium") Browse
            a(
              href="/pricing"
              class="px-4 py-2 hover:bg-gray-50 rounded-md flex items-center px-4 click-scale"
            )
              span(class="flex items-center")
                +icon("dollar-sign", { width:16, height: 16 })(class="mr-2")
                span(class="font-medium") Pricing
            a(href="/login" class="px-4 py-2 bg-yellow-50 hover:bg-yellow-100 rounded-md flex items-center px-4 click-scale")
              span(class="flex items-center")
                +icon('log-in', { width:16, height: 16 })(class="mr-2")
                span(class="font-medium") Login
