mixin top-bar()
    div(class="z-10 relative p-4 w-full container mx-auto")
        div(class="flex items-center justify-between")
            a(href="/")
                div(class="flex items-center")
                    h1(class="text-xl font-black text-yellow-300").
                        haptic.so
            nav
                ul(class="flex items-center")
                    li(class="font-medium hover:text-gray-600 cursor-pointer" data-dark-mode-toggle) Dark mode
                    if user
                        a(href="/dashboard" class="btn")
                            li Dashboard
                        a(href="/logout" class="btn btn-primary")
                            li Logout
                    else
                        a(href="/login" class="btn btn-primary")
                            li(class="inline-block") Login