mixin top-bar()
    div(class="z-10 relative p-4 w-full container mx-auto")
        div(class="flex items-center justify-between")
            a(href="/")
                div(class="flex items-center")
                    h1(class="text-xl font-black text-yellow-300").
                        haptic.so
            nav
                ul(class="flex items-center -mr-4")
                    li(class="font-medium cursor-pointer btn icon-container" data-dark-mode-toggle)
                        ion-icon(name="sunny-outline" class="text-2xl")
                    if user
                        a(href="/dashboard" class="btn")
                            li(class="icon-container")
                                ion-icon(name="prism-outline" class="text-2xl")

                        a(href="/dashboard/profile" class="btn")
                            li(class="icon-container")
                                img(class="rounded-full w-8 h-8" src=`${user.twitter_profile_image_url}` alt=`${user.twitter_screen_name} profile image`)

                        a(href="/logout" class="btn")
                            li(class="icon-container")
                                ion-icon(name="log-out-outline" class="text-2xl")
                    else
                        a(href="/login" class="btn icon-container")
                            li(class="icon-container")
                                ion-icon(name="log-in-outline" class="text-2xl")