mixin top-bar()
    div(class="z-10 relative p-4 w-full container mx-auto")
        div(class="flex items-center justify-between")
            a(href="/")
                div(class="flex items-center")
                    h1(class="text-xl font-black text-yellow-300").
                        haptic.so
            nav
                ul(class="flex items-center")
                    li(class="font-medium hover:text-gray-600 cursor-pointer btn" data-dark-mode-toggle)
                        ion-icon(name="sunny-outline" size="large")
                    if user
                        a(href="/dashboard" class="btn")
                            li
                                ion-icon(name="apps-outline" size="large")
                        a(href="/logout" class="btn")
                            li
                                ion-icon(name="log-out-outline" size="large")
                    else
                        a(href="/login" class="btn btn-primary")
                            li(class="inline-block") Login