mixin top-bar()
  div(class="relative w-full mb-8")
    div(class="container p-4 mx-auto")
      div(class="flex items-center justify-between")
        a(href="/")
          div(class="flex items-center")
            img(src="/static/images/logo/logo-main.svg" class="h-8 logo-dark")
            img(src="/static/images/logo/logo-main-light.svg" class="h-8 logo-light")

        ul(class="flex items-center")
          li
            a(href="#pricing" class={"hover:underline": true, "mr-4": !isProd}) Pricing
          // - li
          // -   a(href="/products" class="mr-4 hover:underline") Browse
          // - li
          // -   a(href="/faq" class="mr-4 hover:underline") FAQ
          if user && !isProd
            a(href="/dashboard" class="btn btn-icon mr-4 click-scale" data-tippy-content="Dashboard")
              li
                +icon('box')
          if !user && !isProd
            li
              a(href="/login" class="btn border border-gray-800 hover:bg-yellow-300 hover:border-transparent click-scale flex items-center")
                +icon("twitter", { width: 14, height: 14, fill: "default" })(class="mr-2")
                span Login
