mixin top-bar()
  div(class="relative w-full mb-8")
    div(class="container p-4 mx-auto")
      div(class="flex items-center justify-between")
        a(href="/")
          div(class="flex items-center")
            img(src="/static/images/logo/logo-main.svg" class="h-8 logo-dark")
            img(src="/static/images/logo/logo-main-light.svg" class="h-8 logo-light")

        ul(class="flex items-center")
          li
            a(href="/pricing" class="mr-4 hover:underline") Pricing
          li
            a(href="/products" class="mr-4 hover:underline") Browse products
          li
            a(href="/faq" class="mr-4 hover:underline") FAQ
          if user
            a(href="/dashboard" class="btn btn-icon mr-4" data-tippy-content="Profile settings")
                li
                    img(class="rounded-full w-8 h-8" src=`${user.twitter_profile_image_url}` alt=`${user.twitter_screen_name} profile image`)
          else
            li
              a(href="/login" class="btn btn-primary") Login with Twitter
