@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply text-blue-500 hover:text-blue-600 underline;
  }

  input[disabled] {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  .shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .btn {
    @apply cursor-pointer block px-4 py-2 rounded-xl font-medium;
    outline: none !important;
  }

  .btn-small {
    @apply px-2.5 py-1;
  }

  .btn-default {
    @apply bg-gray-100 hover:bg-gray-200 text-gray-800 dark:text-white hover:text-gray-800 dark:hover:text-white dark:bg-gray-600 dark:hover:bg-gray-500;
  }

  .btn-default:focus {
    @apply bg-gray-200 dark:bg-gray-500;
  }

  .btn-primary {
    @apply bg-yellow-300 hover:bg-yellow-400 text-gray-800 dark:text-gray-800 hover:text-gray-800 dark:hover:text-gray-800;
  }

  .btn-primary:focus {
    @apply bg-yellow-400;
  }

  .btn-twitter {
    @apply bg-twitter hover:bg-twitter-dark text-white hover:text-white dark:hover:text-white;
  }

  .btn[disabled] {
    @apply text-gray-400 bg-gray-100 cursor-auto dark:bg-gray-500 !important;
  }

  .input {
    @apply px-4 py-2 rounded-xl border border-gray-300 dark:border-gray-600 w-full dark:bg-transparent;
    outline: none !important;
  }

  .input:focus {
    @apply border-yellow-300;
  }

  .input[disabled] {
    @apply bg-gray-100 dark:bg-gray-600;
  }

  .label {
    @apply text-xs uppercase text-gray-500 dark:text-gray-300;
  }

  .textarea {
    @apply bg-transparent border border-gray-300 rounded-xl p-4 dark:border-gray-600 resize-none dark:bg-transparent;
    outline: none !important;
  }

  .textarea:focus {
    @apply border-yellow-300;
  }

  .textarea[disabled] {
    @apply bg-gray-100 dark:bg-gray-600;
  }

  .error-container {
    @apply px-4 py-2 rounded-xl bg-red-500 text-white;
  }

  .success-container {
    @apply px-4 py-2 rounded-xl bg-green-500 text-white;
  }

  .icon-container {
    line-height: 0;
  }

  .product-header {
    @apply gap-4;
    display: grid;
    grid-template-columns: 7fr 4fr;
  }

  .product-main {
    @apply gap-4;
    display: grid;
    grid-template-columns: 7fr 4fr;
  }

  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}
