extends ../../layouts/base.layout.pug

include ../../partials/top-bar.pug
include ../../partials/product-header.pug

block content
  +top-bar
  +product-header(product, links, 'posts')
  div(class="container mx-auto px-4 pt-4")
    div
      div
        div(class="gap-4 flex flex-wrap pb-4")
          div(class="cursor-pointer flex items-center py-2 px-4 rounded-xl border border-gray-300 hover:bg-gray-100 dark:border-gray-700 dark:hover:bg-gray-700")
            span(class="icon-container")
            ion-icon(class="mr-2 text-lg" name="document-text-outline")
            span(class="text-sm") Text
          div(class="flex items-center py-2 px-4 rounded-xl border border-gray-300 dark:border-gray-700 text-gray-500")
            span(class="icon-container")
            ion-icon(class="mr-2 text-lg" name="logo-youtube")
            span(class="mr-4 text-sm") YouTube
            span(class="text-xs px-2 py-1 bg-yellow-100 dark:bg-gray-700 rounded-full") Soon!
          div(class="flex items-center py-2 px-4 rounded-xl border border-gray-300 dark:border-gray-700 text-gray-500")
            span(class="icon-container")
            ion-icon(class="mr-2 text-lg" name="checkbox-outline")
            span(class="mr-4 text-sm") Survey
            span(class="text-xs px-2 py-1 bg-yellow-100 dark:bg-gray-700 rounded-full") Soon!
          div(class="flex items-center py-2 px-4 rounded-xl border border-gray-300 dark:border-gray-700 text-gray-500")
            span(class="icon-container")
            ion-icon(class="mr-2 text-lg" name="happy-outline")
            span(class="mr-4 text-sm") Milestone
            span(class="text-xs px-2 py-1 bg-yellow-100 dark:bg-gray-700 rounded-full") Soon!
          div(class="flex items-center py-2 px-4 rounded-xl border border-gray-300 dark:border-gray-700 text-gray-500")
            span(class="icon-container")
            ion-icon(class="mr-2 text-lg" name="map-outline")
            span(class="mr-4 text-sm") Roadmap
            span(class="text-xs px-2 py-1 bg-yellow-100 dark:bg-gray-700 rounded-full") Soon!
      div
        textarea(class="textarea w-full" placeholder="Share some insights, progress update on your product or simply share your thoughts right now")