extends ../../layouts/base.layout.pug

include ../../partials/top-bar.pug
include ../../partials/product-header.pug

block content
  +top-bar
  +product-header(product, links, 'posts')
  div(class="container mx-auto px-4 pt-4")
    textarea(class="textarea w-full" placeholder="Share some insights, progress update on your product or simply share your thoughts right now")