extends ../../layouts/base.layout.pug

include ../../partials/top-bar.pug
include ../../partials/product-header.pug
include ../../partials/page-title.pug

block content
  +top-bar
  +product-header(product, links, 'posts')
  div(class="container mx-auto px-4 pt-4")
    div
      div(class="grid gap-4 grid-cols-1 md:grid-cols-8")
        div(class="md:col-span-5")
          +page-title(class="mb-4") Publish new
          div(class="gap-1 flex flex-wrap pb-2")
            div(data-bind="text" class="relative cursor-pointer flex items-center py-2 px-4 rounded-xl border border-gray-300 hover:bg-gray-100 dark:border-gray-700 dark:hover:bg-gray-700")
              span(class="icon-container")
              ion-icon(class="mr-2 text-lg" name="document-text-outline")
              span(class="text-sm") Text
              span(class="hidden block absolute -top-2 -right-2 rounded-full bg-gray-100 dark:bg-gray-700 w-5 h-5 icon-container flex items-center justify-center border border-gray-300 dark:border-gray-500" data-close="text")
                ion-icon(name="close-outline")
            div(data-bind="youtube" data-disabled class="relative flex items-center py-1.5 px-2.5 rounded-xl border border-gray-300 dark:border-gray-700 text-gray-500")
              span(class="icon-container")
              ion-icon(class="mr-2 text-lg" name="logo-youtube")
              span(class="mr-4 text-sm") YouTube
              span(class="text-xs px-2 py-1 bg-yellow-100 dark:bg-gray-700 rounded-full") Soon!
              span(class="hidden block absolute -top-2 -right-2 rounded-full bg-gray-100 dark:bg-gray-700 w-5 h-5 icon-container flex items-center justify-center border border-gray-300 dark:border-gray-500" data-close="youtube")
                ion-icon(name="close-outline")
            div(data-bind="survey" data-disabled class="relative flex items-center py-1.5 px-2.5 rounded-xl border border-gray-300 dark:border-gray-700 text-gray-500")
              span(class="icon-container")
              ion-icon(class="mr-2 text-lg" name="checkbox-outline")
              span(class="mr-4 text-sm") Survey
              span(class="text-xs px-2 py-1 bg-yellow-100 dark:bg-gray-700 rounded-full") Soon!
              span(class="hidden block absolute -top-2 -right-2 rounded-full bg-gray-100 dark:bg-gray-700 w-5 h-5 icon-container flex items-center justify-center border border-gray-300 dark:border-gray-500" data-close="survey")
                ion-icon(name="close-outline")
            div(data-bind="milestone" data-disabled class="relative flex items-center py-1.5 px-2.5 rounded-xl border border-gray-300 dark:border-gray-700 text-gray-500")
              span(class="icon-container")
              ion-icon(class="mr-2 text-lg" name="happy-outline")
              span(class="mr-4 text-sm") Milestone
              span(class="text-xs px-2 py-1 bg-yellow-100 dark:bg-gray-700 rounded-full") Soon!
              span(class="hidden block absolute -top-2 -right-2 rounded-full bg-gray-100 dark:bg-gray-700 w-5 h-5 icon-container flex items-center justify-center border border-gray-300 dark:border-gray-500" data-close="milestone")
                ion-icon(name="close-outline")
            div(data-bind="roadmap" data-disabled class="relative flex items-center py-1.5 px-2.5 rounded-xl border border-gray-300 dark:border-gray-700 text-gray-500")
              span(class="icon-container")
              ion-icon(class="mr-2 text-lg" name="map-outline")
              span(class="mr-4 text-sm") Roadmap
              span(class="text-xs px-2 py-1 bg-yellow-100 dark:bg-gray-700 rounded-full") Soon!
              span(class="hidden block absolute -top-2 -right-2 rounded-full bg-gray-100 dark:bg-gray-700 w-5 h-5 icon-container flex items-center justify-center border border-gray-300 dark:border-gray-500" data-close="roadmap")
                ion-icon(name="close-outline")

          form(id="form-post-text" class="hidden" data-show="text")
            input(type="hidden" name="id" value=product.id)
            label
              textarea(data-autoresize="2" class="textarea w-full" placeholder="Share something great about your product..." name="text" id="text")
              p(class="hidden text-red-500" id="text-error")
            button(type="submit" class="btn btn-primary") Publish

          div(class="pt-16")
            div(class="flex items-center text-gray-300 dark:text-gray-500" id="no-posts-msg")
              ion-icon(name="pulse-outline" class="text-3xl mr-4")
              p Still no public updates available
            div(id="posts-container")

        aside(class="hidden md:block md:col-span-3")
          +page-title(class="mb-4") Pinned updates
          //- div(class="flex items-center text-gray-300 dark:text-gray-500")
          //-   ion-icon(name="attach-outline" class="text-3xl mr-4")
          //-   p No pinned posts
          div(class="p-4 rounded-xl border border-gray-300 dark:border-gray-700")
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.

  template(id="post-tpl")
    div(class="p-4 rounded-xl border border-gray-300 dark:border-gray-700 mb-4")
      p(data-content="data-content")

block append scripts
  script(src="/static/js/posts.js")